
     <% flash.each do |message_type, message| %>
        <div class="<%= message_type %>"><%= message %></div>
      <% end %>
    <h1>HOME</h1>
    <p><%= link_to "Create new post", new_post_path, class: "btn btn-primary" %></p>
    <p><%= link_to "Sign Out", logout_path, method: :delete %></p>
    <p><%= link_to "Log in", login_path %></p>
    
    <% @posts.each do |post| %>
      <p><% if logged_in? %>
         By <%= post.user.name %></p>
         <% else %>
        <p> By (secret)</p>
      <% end %>
       Title:<%= post.title %>
        <p>
        <%= post.body %>
      </p>
    <% end %>
